html, body {
  height: 100%;
}

.admin {
	font-size: 20px;
}

.col.m12{
	width: 100%;
	color: white;
	font-
}

.wrapper {
	width: 100%;
	height: 100%;
}

.tabs-content.carousel { height: 100%; overflow-x:hidden; overflow-y: hidden;}
.tabs-content.carousel .carousel-item { width: 100%; height: 100%; } 
html,body{ overflow:hidden; height:100%; }

#test1 {
	background-color: #ff980099;
}
#test2 {
	background-color: #8bc34a99;
}
#test3 {
	background-color: #75757599;
}
#test4 {
	background-color: #d81b6099;
}
#test5 {
	background-color: #7b1fa299;
}

#test6 {
	background-color: #78909c99;
}
#test7 {
	background-color: #42a5f599;
}
#test8 {
	background-color: #ff980099;
}

input[type="file"] {
    display: none;
}

.browse {
    border: 1px solid #ccc;
    display: inline-block;
    padding-right: 90px;
    background-color: #e64a19;
}

.upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding-right: 90px;
    padding-left: 90px;
    background-color: #e64a19;
}

table.highlight > tbody > tr:hover > td {
  color: black;
}

.table-footer * {
  color: #d3d3d3;
}

.tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
	color: black;
	background-color: #ff7f84;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}