html,body
{ 
	overflow:hidden; 
	height:100%; 
}

.wrapper
{
	padding-left: 300px;
}

.tabs-content.carousel 
{ 
	height: 100%;	
	overflow-x:hidden;
	overflow-y:hidden;
}
.tabs-content.carousel .carousel-item 
{ 
	width: 100%; 
	height: 100%; 
	margin-left: 300px;
} 
/* for student*/
#studQuiz
{
	/*background-color: #ff980099;*/
	background-color: rgba(93, 109, 126, 0.7);
}
#studRes
{
	background-color: #8bc34a99;
}

/*for instructor*/
#instQuiz
{
	background-color: #7b1fa299;
	width: 100%;
}
#instStud
{
	background-color: #d81b6099;
}
/*upload quiz button*/
#upQuiz
{
	bottom: 20%;
	position: fixed;
	width: 80%;
  	margin: 0 auto;
}
/*instuctor modal*/
#quizModal
{
	height: 650px;
}
/*buttons of modal*/
#uploadQuiz
{
	height: 50px;
	margin-top: 35px;
}
#downloadFormat
{
	height: 50px;
	margin-top: 35px;
}
/*update modal button*/
#updateQuiz{
	height: 50px;
	margin-top: 35px;	
}
/*datetime pickers*/
#dateStart
{
	margin-top: 15px;
}
#dateEnd
{
	margin-top: 15px;
}

div.material-table {
    padding: 0;
    width: calc(100% - 300px);
}

table.highlight > tbody > tr:hover > td {
  color: black;
}


/*para mu act murag anchor char tag*/
.takeQuiz {
	cursor:pointer;
}

.takeQuiz:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 1px #555;
}

.nextPrev
{
	display: inline-block;
	height: 50%;
}