html,body
{ 
	overflow:hidden; 
	height:100%; 
}

.wrapper
{
	padding-left: 300px;
}

.tabs-content.carousel 
{ 
	height: 100%;	
	overflow-x:hidden;
	overflow-y:hidden;
}
.tabs-content.carousel .carousel-item 
{ 
	width: 100%; 
	height: 100%; 
	margin-left: 300px;
} 

#test1 
{
	background-color: #ff980099;
}
#test2 
{
	background-color: #8bc34a99;
}

#test3 
{
	background-color: #7b1fa299;
	width: 100%;
}
#test4 
{
	background-color: #d81b6099;
}

#upQuiz
{
	/*transform: translate(740px,700px);*/
	bottom: 20%;
	position: fixed;
	width: 80%;
  	margin: 0 auto;
}