.quiz {
  
  border-bottom-left-radius: 10% 25%;
  border-bottom-right-radius: 10% 25%;
  border-top-left-radius: 10% 25%;
  border-top-right-radius: 10% 25%;
  opacity: 0.8;
}

html { height:100%; }

body{
    background-image:url('../Images/bg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginModal{
	height: 130px;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}
